@charset "UTF-8";

/* 공지사항 css */

#wrapper{
	width:100%;
}

.notice_wrap.page_shadow{
	box-shadow:unset;
	width:800px;
	margin: 0 auto;
}

.notice_wrap>h3{
	margin: 90px 0 30px 10px;
}

#noticeTable .thead{
	border-top: 2px solid #ddd;
}


#noticeTable .thead>div, #noticeTable .tbody>div{
	height:60px;
	float:left;
	width:15%;
	text-align: center;
	border-bottom: 1px solid #eee;
}

#noticeTable .thead>div.title {
	width:40%;
}

#noticeTable .tbody>div.title {
	width:40%;
}


/* 공지사항 글쓰기  */

.write_wrap.page_shadow{
	box-shadow:unset;
	width:800px;
	margin: 0 auto;
	
}

.write_wrap>h3{
	margin: 90px 0 30px 10px;
}

#writeTable .tbody>div:first-child {
	border-top: 1px solid #eee; 
}

#writeTable .tbody>div{
	border-bottom : 1px solid  #eee; 
	height: 50px; 
	line-height: 50px; 
	color: #222; 
}

.inputBox {	
	border : 1px solid #eee;
	color: #222; 
	height: 35px; 
	width: 80%;
	margin: auto 0; 
	line-height: 40px;	
}

.contentBox {
	
	width: 800px; 
	height: 400px; 
}


