@charset "UTF-8";

/* 공지사항 css */

#wrapper{
	width:100%;
}

.notice_wrap.page_shadow{
	box-shadow:unset;
	width:800px;
	margin: 0 auto;
}

.notice_wrap>h3{
	margin: 90px 0 30px 10px;
}
#noticeTable, #noticeTable .thead, #noticeTable .tbody{
	height: auto;
	overflow: auto;
}

#noticeTable .thead{
	border-top: 2px solid #ddd;
}


#noticeTable .thead>div, #noticeTable .tbody>div{
	height:60px;
	float:left;
	width:15%;
	text-align: center;
	border-bottom: 1px solid #eee;
}

#noticeTable .thead>div.title {
	width:40%;
}

#noticeTable .tbody>div.title {
	width:40%;
}