.content .cont-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;    
    width: 500px;
    padding:50px 0;
} 

 .content .user-select {
	margin: 15px 0;
}

 .content .login-wrap .tit-area {
    vertical-align: middle;
    margin: 15px 0;
}

 .content .login-wrap .tit-area .tit {
    margin: 0 0 9px;
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: bold;
}

 .content .login-wrap .input-group + .input-group {
    margin-top: -1px;
} 

.content .login-wrap .input-group .input::placeholder {
    color: #dbdbdb;
} 

 .content .login-wrap .login-link {
    color: #3d4656;
    margin: 15px 0;
}

 .content .login-wrap .btn-login {
    display: block;
    text-align: center;
    border: 0;
    margin: 15px 0;
    padding: 15px 0;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #004000;
}

iframe#easyXDM_Kakao_52hynr1h43i_provider{
	margin: 30px 0 0 0;
	
}
