
.content .cont-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;    
} 

.content .user-select {
	margin: 15px 0;
}

.content .login-wrap .tit-area {
    vertical-align: middle;
}

.content .login-wrap .tit-area .tit {
    margin: 0 0 9px;
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.content .login-wrap .input-group {
    position: relative;
    height: 50px;
    margin-bottom: 15px;
}

.content .login-wrap .input-group + .input-group {
    margin-top: -1px;
} 

.content .login-wrap .input-group .input {
    width: 100%;
    height: 100%;
}

.content .login-wrap .input-group .input::placeholder {
    color: #dbdbdb;
} 

.content .login-wrap .login-link {
    color: #3d4656;
    margin: 15px 0;
}

.content .login-wrap .btn-login {
    display: block;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 15px 0;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #004000;
}

/**********************pupup*********************/

.popup_cover {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 2;
}

.popup_wrap {
	position:fixed;
	top: 50%; left: 50%;
	width: 400px;
	height: 640px;
	overflow-y : auto;
	transform: translate3d(-50%, -50%, 0);
	background: url(../img/popup_bg.png) no-repeat center center;
	background-size: contain;
	z-index: 3;
}

.popup_wrap .popup_inner {
	width: 95%;
	margin: 0 auto;
}

.popup_wrap section {
	border-bottom: 2px solid #004000;
	padding-bottom: 8px;
}

.popup_wrap .store_name {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	padding-bottom: 20px;
}

.popup_wrap .content_header {
	padding: 8px 0;
	border-bottom: 1px dotted #b9b9b9;
}

.popup_wrap .content_header:after {
	content: "";
	clear: both;
	display: block;
}

.popup_wrap .content_header p {
	font-size: 16px;
	font-weight: bold;
	float: left;
}

.popup_wrap .content_header .status {
	float: right;
}

.popup_wrap .content {
	margin: 10px 0 5px;
}

.popup_wrap .content:after {
	content: "";
	clear: both;
	display: block;
}

.popup_wrap .content p {
	float: left;
	font-size: 14px;
}

.popup_wrap .content .left_txt {
	font-weight: bold;
}

.popup_wrap .content .right_txt {
	float: right;
}

.popup_wrap .content .right_txt {
	float: right;
}

.popup_wrap .sum p {
	font-size: 15px;
	color: #222;
}

/**********************common*********************/

.page_shadow {
	padding-top: 110px;
	margin-bottom: 60px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 27px 25px -2px rgba(0,0,0,0.3);
}

.insert_input {
	padding-left: 7px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
    transition: .18s ease-out;
}

.insert_input:hover {
   box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.insert_input:focus {
   box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.8), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

insert_select {
	padding-left: 7px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
    transition: .18s ease-out;
}

insert_select:hover {
   box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.5);
}

insert_select:focus {
   box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.8), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.basic_btn {
   width: 100%;
   height: 61px;
   padding: 17px 0 17px;
   font-size: 20px;
   font-weight: 700;
   text-align: center;
   line-height: 24px;
   color: #fff;
   background-color: #004000;
   box-sizing: border-box;
}

.basic_btn:hover {
   background-color: #fff;
   border: 2px solid #004000;
   color: #004000;
}

/****************bbs****************/

.noticeList_page.page_shadow{
	box-shadow: unset;
}

.bbs_page_tit {
    font-size: 21px;
    font-weight: 700;
    margin: 110px 0 30px 0;
}

.bbs_wrap {
    width: 100%;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    height: auto;
    overflow: -webkit-paged-y;
}

.bbs_wrap .bbs {
    height: 30px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 0;
}
.bbs.not_txt{
	height:auto;
}

.bbs_wrap .bbs .tit {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
    line-height: 31px;
}

.bbs_wrap .bbs .num {
    width: 100px;
}

.bbs_wrap .num img {
    width: 46px;
    margin-top: 5px;
}

.bbs_wrap .bbs .title {
    width: calc(100% - 545px);
}

.bbs_wrap .bbs .name {
    width: 140px;
}

.bbs_wrap .bbs .date {
    width: 140px;
}

.bbs_wrap .bbs .views {
    width: 140px;
}

.bbs_wrap .bbs .txt {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
    line-height: 31px;
}

.bbs_wrap .bbs .txt.title {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    
}

.bbs_wrap .bbs .txt span {
    cursor: pointer;
}

.bbs_wrap .bbs_new {
    background-color: #fafff3;
}

.bbs_wrap .bbs_new .txt {
    color: #52692f;
}

.bbs_write {
    width: 100%;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
}

.bbs_write .content {
    height: 32px;
    border-bottom: 1px solid #b9b9b9;
    font-size: 0;
}

.bbs_write .tit {
    display: inline-block;
    width: 70px;
    text-align: center;
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 33px;
    vertical-align: middle;
}

.bbs_write .txt {
    display: inline-block;
    font-size: 14px;
    line-height: 33px;
    vertical-align: middle;
    color: #88b04b;
}

.bbs_write input {
    width: calc( 100% - 72px );
    height: 30px;
    vertical-align: top;
    font-size: 13px;
    border: none;
}

.bbs_write .half {
    display: inline-block;
    width: 50%;
}

.bbs_write textarea {
    width: calc( 100% - 14px );
    height: 586px;
    padding: 7px;
    border: none;
    font-size: 14px;
    line-height: 20px;
}

.bbs_write .text_area {
    width: calc( 100% - 14px );
    height: 586px;
    padding: 7px;
    border: none;
    overflow-y: auto;
    font-size: 14px;
    line-height: 20px;
}

.bbs_btn_wrap {
    text-align: center;
    margin: 25px 0;
}

.bbs_btn_wrap .bbs_btn {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    margin: 0 25px;
    vertical-align: top;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.bbs_btn_wrap .registration {
    background-color: #2b3735;
    color: #fff;
}

.bbs_btn_wrap .cancel {
    line-height: 28px;
    border: 1px solid #2b3735;
}

.bbs_btn_wrap .delete {
    border: 1px solid #2b3735;
}

/**********************header*********************/

header {
	position: fixed;
	width: 100%;
	height: 110px;
	top: 0;
	background: rgba(0,0,0,0.7);
	z-index: 3;
	transition: all 0.4s;
}

header .header_inner {
	width: 1200px;
	margin: 0 auto;
}

header .header_top:after {
	content: "";
	clear: both;
	display: block;
}

header .header_top .hmenu_wrap {
	float: right;
	font-size: 0;
}

header .header_top .hmenu_wrap li {
	display: inline-block;
    padding: 9px 5px 9px 10px;
}

header .header_top .hmenu_wrap li a {
	font-size: 12px;
    font-weight: 400;
    color: #c5c5c5;
}

header .header_top .hmenu_wrap li a:hover {
	text-decoration: underline;
}

header .logo {
	text-align: center;
	margin-top: 20px;
}

header .header_board{
	height: auto;
    overflow: auto;
    float: right;
    top: -50px;
    padding: 0 30px;
}

header .board_menu{
	float: right;
	font-size: 0;
	
}

header .board_menu li{
		display: inline-block;
    padding: 9px 5px 9px 10px;
}

header .board_menu li a {
	font-size: 18px;
    font-weight: 600;
    color: #c5c5c5;
}

header .board_menu li a:hover {
	text-decoration: underline;
}

/**********************footer*********************/

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #333333;
}

footer .copy {
	color: #fff;
    border-top: 1px solid #777;
	text-align: center;
	line-height: 60px;
}

/**********************검색창*********************/

.search_wrap {
	width: 420px;
	margin: 20px auto;
}

.search_wrap:after {
	content: "";
	clear: both;
	display: block;
}

.search_wrap .current_btn {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dc1400;
    background: #fff url(../img/sprite-icon.png?v=a052d8c…) no-repeat 0 0;
    background-size: 390px;
}

.search_wrap .input_wrap {
	width: 370px;
	height: 40px;
	float: right;
}

.search_wrap .input_wrap .input_box {
	width: 100%;
	height: 100%;
    border-radius: 4px;
    background: #ff8a00;
}

.search_wrap .input_wrap .input_box input {
	width: calc( 100% - 60px);
	height: 100%;
    padding: 6px 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search_wrap .input_wrap .input_box .search_btn {
	float: right;
	width: 60px;
	height: 100%;
	text-align: center;
    border-radius: 4px;
    color: #fff;
	background: #ff8a00;
}

/**********************main*********************/

#main .page_inner {
	width: 1200px;
	margin: 0 auto;
}

#main .main_visual {
	width: 100%;
	height: 500px;
	margin-top: 30px;
}

#main .main_visual .slide01 {
	background: url(../img/slide01.jpg) no-repeat center center;
	background-size: cover;
}

#main .main_visual .slide02 {
	background: url(../img/slide02.jpg) no-repeat center center;
	background-size: cover;
}

#main .item_wrap:after {
	content: "";
	clear: both;
	display: block;
}

#main .item_wrap li {
	position: relative;
	width: 382px;
	height: 280px;
	border: 1px solid #41cea5;
	float: left;
	margin-bottom: 24px;
	margin-left: 24px;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

#main .item_wrap .item01 {
	background: url(../img/item01.jpg) no-repeat center center;
	background-size: cover;
	
}

#main .item_wrap .item02 {
	background: url(../img/item02.jpg) no-repeat center center;
	background-size: cover;
	
}

#main .item_wrap .item03 {
	background: url(../img/item03.jpg) no-repeat center center;
	background-size: cover;
	
}

#main .item_wrap li .item_cover {
	position: absolute;
	top:0; left: 0; right: 0; bottom: 0;
    transition: all 0.4s;
	background-color: rgba(0,0,0,0.3);
}

#main .item_wrap li:nth-child(3n-2) {
	margin-left: 0;
}

#main .item_wrap li .line {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid #fff;
    border-width: 1px 1px 0;
    transition: all 0.45s ease-in-out;
    
}

#main .item_wrap li .line .txt_box {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    opacity: 0;
    font-size: 14px;
    line-height: 1.8;
}

#main .item_wrap li .line .txt_box a {
	border: 1px solid #fff;
	padding: 5px 15px;
	color: #fff;
}

#main .item_wrap li .line .txt_box p {
	font-size: 24px;
	color: #fff;
	margin-bottom: 15px;
}

#main .item_wrap li .line .heading {
    overflow: hidden;
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    width: 100%;
}

#main .item_wrap li .line .heading h4 {
	display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    font-size: 22px;
}

#main .item_wrap li .line .heading h4:before {
    position: absolute;
    display: block;
    width: 500%;
    height: 1px;
    content: '';
    background: #fff;
    top: 50%;
    left: -500%;
}

#main .item_wrap li .line .heading h4:after {
    position: absolute;
    display: block;
    width: 500%;
    height: 1px;
    content: '';
    background: #fff;
    top: 50%;
    right: -500%;
}

#main .item_wrap li:hover .line {
	top: 10%;
	bottom: 10%;
}

#main .item_wrap li:hover .line .txt_box {
	opacity: 1;
    transition-delay: 0.35s;
}

#main .item_wrap li:hover .item_cover {
	background-color: rgba(7, 173, 125, 0.8);
}

/**********************myPage_page*********************/

.myPage_page{
   width: 100%;
   background-color: #f5f6f8;
}

.myPage_page .page_inner {
   width: 1036px;
   margin: 0 auto;
}

.myPage_page .item_wrap {
	padding-bottom: 50px;
}

.myPage_page .item_wrap:after {
   content: '';
   clear: both;
   display: block;
}

.myPage_page .item_wrap .left {
	float: left;
}

.myPage_page .item_wrap .right {
	float: right;
}

.myPage_page .item_wrap .item {
   width: 450px;
   height: 230px;
   margin: 16px 0 0;
   padding: 32px 29px 0;
   background-color: #fff;
   border: 1px solid #dadada;
   border-radius: 2px;
}

.myPage_page .item_wrap .item .item_header {
   position: relative;
}

.myPage_page .item_wrap .item .item_header h4 {
   font-size: 20px;
   font-weight: 600;
   color: #333;
}

.myPage_page .item_wrap .item .item_header button {
   position: absolute;
   top: 0;
   right: 0;
   outline: none;
   overflow: hidden;
   width: 18px;
   height: 18px;
   background: url(../img/arrow_type01_off.png) center center
      no-repeat;
   transition: all 0.4s;
}

.myPage_page .item_wrap .item .item_header button:hover {
   background: url(../img/arrow_type01_hover.png) center center
      no-repeat;
}

.myPage_page .item_wrap .item .item_header button.on {
   background: url(../img/arrow_type01_on.png) center center
      no-repeat;
   transform: rotate(180deg);
}

.myPage_page .item_wrap .item .contxt {
   visibility: hidden;
   opacity: 0;
   margin-top: 12px;
   transition: all 0.4s;
   font-size: 12px;
   color: #9b9b9b;
   line-height: 18px;
}

.myPage_page .item_wrap .item .contxt span {
   color: #ff6122;
}

.myPage_page .item_wrap .item .contxt.on {
   visibility: visible;
   opacity: 1;
}

.myPage_page .item_wrap .item .item_content {
   position: static;
   margin-top: 15px;
   display: none;
}

.myPage_page .item_wrap .item .basic_content.on {
   display: block;
}

.myPage_page .item_wrap .item .item_content:after {
   content: '';
   display: block;
   clear: both;
}

.myPage_page .item_wrap .item .item_content .pic {
   width: 80px;
   overflow: hidden;
   float: left;
   border-radius: 100%;
}

.myPage_page .item_wrap .item .info_wrap {
   position: static;
   margin-left: 15%;
   float: left;
}

.myPage_page .item_wrap .item .info_wrap .info {
   margin-bottom: 5px;
}

.myPage_page .item_wrap .item .info_wrap .info:after {
   content: '';
   clear: both;
   display: block;
}

.myPage_page .item_wrap .item .info_wrap .tit {
   width: 80px;
   float: left;
   font-size: 15px;
   font-weight: 700;
   color: #333;
   line-height: 23px;
}

.myPage_page .item_wrap .item .info_wrap .txt {
   float: left;
   margin-left: 7px;
   font-size: 15px;
   color: #666;
}

.myPage_page .item .modify_content input {
   border: 1px solid #dadada;
   background-color: #fff;
   box-sizing: border-box;
   padding: 2px 7px;
   font-size: 15px;
}

.myPage_page .item_wrap .item .modify_btn {
   position: absolute;
   bottom: 15px;
   left: 29px;
   width: 78px;
   height: 33px;
   padding: 0;
   line-height: 33px;
   font-size: 12px;
   outline: none;
}

.myPage_page .item_wrap .area_item .info_wrap {
   margin-left: 0;
}

.myPage_page .item_wrap .modify_content {
   display: none;
}

.myPage_page .item_wrap .modify_content::after {
   content: '';
   display: block;
   clear: both;
}

.myPage_page .item_wrap .modify_content.on {
   display: block;
}

.myPage_page .item_wrap .area_item .modify_content select {
   padding: 2px 14px 2px 7px;
   width: 54px;
   background: url(../img/sel_arr_2x.gif) center right no-repeat;
   background-size: 18px;
   outline: none;
}

.myPage_page .item_wrap .area_item .modify_content .tel input {
   width: 73px;
}

.myPage_page .item_wrap .area_item .modify_content .tel span {
   display: inline-block;
   margin: 0 4px;
}

.myPage_page .item_wrap .area_item .modify_content .mail input {
   width: 150px;
}

.myPage_page .item_wrap .modify_content .btn_wrap {
   position: absolute;
   bottom: 15px;
   left: 29px;
}

.myPage_page .item_wrap .modify_content .btn_wrap button {
   width: 78px;
   height: 33px;
   padding: 0;
   line-height: 33px;
   font-size: 12px;
   outline: none;
}

.myPage_page .item_wrap .order_item {
	height: 380px;
	overflow-y : auto;
}

.myPage_page .item_wrap .order_item .item_content {
	position: relative;
	display: block;
	padding-bottom: 12px;
	border-bottom: 1px solid #004000;
}

.myPage_page .item_wrap .order_item .item_content:last-child {
	border-bottom: none;
}

.myPage_page .item_wrap .order_item .content_header {
	border-bottom: 1px solid #dadada;
	font-size: 16px;
	padding: 5px 10px;
}

.myPage_page .item_wrap .order_item .content_header:after {
	content: "";
	display: block;
	clear: both;
}

.myPage_page .item_wrap .order_item .content_header .date {
	float: left;
	font-weight: bold;
}

.myPage_page .item_wrap .order_item .content_header .status {
	float: right;
	font-weight: bold;
	color: #333;
}

.myPage_page .item_wrap .order_item .content {
	padding: 5px 10px;
}

.myPage_page .item_wrap .order_item .content .img {
	width: 85px;
	height: 85px;
	float: left;
	margin-top: 5px;
}

.myPage_page .item_wrap .order_item .content .order_info {
	width: calc( 100% - 93px );
	float: left;
	margin-left: 8px;
}

.myPage_page .item_wrap .order_item .content .order_info .store_name {
	font-size: 18px;
	color: #333;
	font-weight: bold;
}

.myPage_page .item_wrap .order_item .content .order_info .food_name {
    margin: 5px 0 0 10px;
    word-break: keep-all;
    line-height: 24px;
    font-size: 16px;
}

.myPage_page .list_btn {
   display: block;
   width: 250px;
   margin: 50px auto 0;
}

/**********************noticeForm_page*********************/

.noticeForm_page .page_inner {
	width: 1050px;
	margin: 0 auto;
}

/**********************noticeView_page*********************/

.noticeView_page .page_inner {
	width: 1050px;
	margin: 0 auto;
}

/**********************noticeView_page*********************/

.noticeList_page .page_inner {
	width: 1050px;
	margin: 0 auto;
}
