/**********************pupup*********************/

.popup_cover {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s;
}

.popup_cover.on {
	opacity: 1;
	visibility: visible;
}

.popup_wrap {
	position:fixed;
	top: 50%; left: 50%;
	width: 430px;
	height: 580px;
	transform: translate3d(-50%, -50%, 0);
	background: url(../img/popup_bg.png) no-repeat center center;
	background-size: 430px 580px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s;
	z-index: 3;
}

.popup_wrap.on {
	opacity: 1;
	visibility: visible;
}

.popup_wrap .popup {
	height: 100%;
}

.popup_wrap .popup_inner {
    width: 92%;
    height: 100%;
    margin: 5px auto 0;
    overflow-y: auto;
}

.popup_wrap section {
	border-bottom: 2px solid #004000;
	padding-bottom: 8px;
}

.popup_wrap section:last-child {
	border: none;
}

.popup_wrap .store_name {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	padding-bottom: 20px;
}

.popup_wrap .content_header {
	padding: 8px 0;
	border-bottom: 1px dotted #b9b9b9;
}

.popup_wrap .content_header:after {
	content: "";
	clear: both;
	display: block;
}

.popup_wrap .content_header p {
	font-size: 16px;
	font-weight: bold;
	float: left;
}

.popup_wrap .content_header .status {
	float: right;
}

.popup_wrap .content {
	margin: 10px 0;
}

.popup_wrap .content:after {
	content: "";
	clear: both;
	display: block;
}

.popup_wrap .content p {
	float: left;
	font-size: 14px;
}

.popup_wrap .content .left_txt {
	font-weight: bold;
}

.popup_wrap .content .right_txt {
	float: right;
}

.popup_wrap .mb5 {
	margin: 10px 0 5px;
}

.popup_wrap .sum {
	border-top: 1px dotted #b9b9b9;
    margin: 0 0 10px;
    padding-top: 10px;
}

.popup_wrap .sum p {
	font-size: 15px;
	font-weight: bold;
	color: #222;
}

.popup_wrap .payment {
	border-top: 1px dotted #b9b9b9;
    margin: 0 0 5px;
    padding-top: 10px;
}

.popup_wrap .payment p {
	font-size: 15px;
	font-weight: bold;
	color: #ef4444;
}

.popup_wrap .addr .right_txt {
	text-align: right;
	line-height: 22px;
}

.popup_wrap .popup_close_btn {
	text-align: center;
}

.popup_wrap .close_btn {
	width: 40px;
	height: 40px;
	margin-top: 15px;
	background: url(../img/close_btn.png) no-repeat center center;
	background-size: cover;
	outline: none;
	transition: all 0.4s;
}

.popup_wrap .close_btn:hover {
	transform: rotate(90deg);
}

.paging_wrap {
	text-align: center;
	margin: 15px 0;
}

.paging_wrap span {
	margin: 0 3px;
}

.paging_wrap span a {
	font-size: 16px;
}

/**********************common*********************/

.page_shadow {
	min-height:720px;
	height:auto;
    padding: 115px 0 60px;
	margin-bottom: 374px;
    z-index: 2;
    background: #fff;
}

.insert_input {
	padding-left: 7px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    transition: .18s ease-out;
}

.insert_input:hover {
   box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.5);
}

.insert_input:focus {
   box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.8), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

insert_select {
	padding-left: 7px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
    transition: .18s ease-out;
}

insert_select:hover {
   box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.5);
}

insert_select:focus {
   box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.8), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.basic_btn {
   width: 100%;
   height: 61px;
   padding: 17px 0;
   font-size: 20px;
   font-weight: 700;
   text-align: center;
   line-height: 24px;
   color: #fff;
   background-color: #004000;
   box-sizing: border-box;
}

.basic_btn:hover {
   background-color: #fff;
   border: 2px solid #004000;
   color: #004000;
}

/****************bbs****************/

.noticeList_page.page_shadow{
	box-shadow: unset;
}

.bbs_page_tit {
    font-size: 21px;
    font-weight: 700;
    margin: 60px 0 30px 0;
}

.bbs_wrap {
    width: 100%;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    height: auto;
    overflow: -webkit-paged-y;
}

.bbs_wrap .bbs {
    height: 30px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 0;
}
.bbs.not_txt{
	height:auto;
}

.bbs_wrap .bbs .tit {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
    line-height: 31px;
}

.bbs_wrap .bbs .num {
    width: 100px;
}

.bbs_wrap .num img {
    width: 46px;
    margin-top: 5px;
}

.bbs_wrap .bbs .title {
    width: calc(100% - 545px);
}

.bbs_wrap .bbs .name {
    width: 140px;
}

.bbs_wrap .bbs .date {
    width: 140px;
}

.bbs_wrap .bbs .views {
    width: 140px;
}

.bbs_wrap .bbs .txt {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
    line-height: 31px;
}

.bbs_wrap .bbs .txt.title {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    
}

.bbs_wrap .bbs .txt span {
    cursor: pointer;
}

.bbs_wrap .bbs_new {
    background-color: #fafff3;
}

.bbs_wrap .bbs_new .txt {
    color: #52692f;
}

.bbs_write {
    width: 100%;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
}

.bbs_write .content {
    height: 32px;
    border-bottom: 1px solid #b9b9b9;
    font-size: 0;
}

.bbs_write .tit {
    display: inline-block;
    width: 70px;
    text-align: center;
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 33px;
    vertical-align: middle;
}

.bbs_write .txt {
    display: inline-block;
    font-size: 14px;
    line-height: 33px;
    vertical-align: middle;
    color: #88b04b;
}

.bbs_write input {
    width: calc( 100% - 72px );
    height: 30px;
    vertical-align: top;
    font-size: 13px;
    border: none;
}

.bbs_write .half {
    display: inline-block;
    width: 50%;
}

.bbs_write textarea {
    width: calc( 100% - 14px );
    height: 500px;
    padding: 7px;
    border: none;
    font-size: 14px;
    overflow-y: auto;
    line-height: 20px;
}

.bbs_write .text_area {
    width: calc( 100% - 14px );
    height: 586px;
    padding: 7px;
    border: none;
    overflow-y: auto;
    font-size: 14px;
    line-height: 20px;
}

.bbs_btn_wrap {
    text-align: center;
    margin: 25px 0;
}

.bbs_btn_wrap .bbs_btn {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 27px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    margin: 0 25px;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.bbs_btn_wrap .registration {
    background-color: #2b3735;
    color: #fff;
}

.bbs_btn_wrap .cancel {
    line-height: 28px;
    border: 1px solid #2b3735;
}

.bbs_btn_wrap .delete {
    border: 1px solid #2b3735;
}

.bbs_btn_wrap .basic_btn {
	height: 30px;
	padding: 0;
	font-size: 15px;
	font-weight: 500;
}

/**********************header*********************/

header {
	position: fixed;
	width: 100%;
	height: 115px;
	top: 0;
	background: rgba(0,0,0,0.7);
	z-index: 3;
	transition: all 0.4s;
}

header .header_inner {
	width: 1200px;
	margin: 0 auto;
}

header .header_top:after {
	content: "";
	clear: both;
	display: block;
}

header .header_top .hmenu_wrap {
	float: right;
	font-size: 0;
	padding: 18px 12px;
}

header .header_top .hmenu_wrap li {
	display: inline-block;
	font-size: 13px;
    font-weight: 400;
    color: #c5c5c5;
    margin-left: 5px;
}

header .header_top .hmenu_wrap li a {
    color: #c5c5c5;
    margin-left: 15px;
}

header .header_top .hmenu_wrap li a:hover {
	text-decoration: underline;
}

header .header_bottom {
	position: relative;
}

header .header_bottom:after {
	content: "";
	clear: both;
	display: block;
}

header .logo {
	position: absolute;
	top:50%; left: 50%;
	transform: translate3d(-50%,-50%,0);
}

header .board_menu {
	float: right;
}

header .board_menu li{
	display: inline-block;
    padding: 9px 5px 9px 10px;
}

header .board_menu li a {
	font-size: 17px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.mHeader {
	display:none;
	overflow: hidden;
}

.mHeader .header_top {
	position: relative;
}

.mHeader .menu_bar {
	position: absolute;
    top: 14px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: url(../img/header_ham.png) no-repeat center center;
    background-size: 25px;
    outline: none;
    transition: all 0.4s;
}

.mHeader .menu_bar.on {
	background: url(../img/header_close.png) no-repeat center center;
}

.mHeader .header_bottom {
	text-align: center;
}

.mHeader .header_bottom ul {
	position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%,50%,0);

}

.mHeader .header_bottom li {
	margin: 10px 0;	
}

.mHeader .header_bottom li a {
	color: #fff;
	font-size: 20px;
}

/**********************footer*********************/

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #11191b;
	color: #fff;
}

footer .footer_inner {
	width: 680px;
	margin: 0 auto;
}

footer .footer_top {
	padding: 40px 0;
}

footer .footer_top:after {
	content: "";
	clear: both;
	display: block;
}

footer .footer_top .text_wrap {
	float: left;
}

footer .footer_top .text_wrap:last-child {
	float: right;
}

footer .footer_top .text_wrap p {
	font-size: 12px;
	line-height: 22px;
}

footer .footer_top .text_wrap .text_tit {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

footer .footer_top .text_wrap .cs_tell {
    margin: 20px 0 20px;
    font-size: 36px;
    font-weight: bold;
}

footer .footer_top .text_wrap .bank {
	margin-top: 20px;
}

footer .copy {
	text-align: center;
	line-height: 60px;
	background: #0d1215;
}


/**********************가게리스트*********************/

.itemList_wrap {
	width: 1200px;
	margin: 0 auto;
}

.itemList_wrap:after {
	content: "";
	clear: both;
	display: block;
}

.itemList_wrap li {
	position: relative;
	width: 382px;
	height: 280px;
	border: 1px solid #41cea5;
	float: left;
	margin-bottom: 24px;
	margin-left: 27px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.itemList_wrap .itemList01 {
	background: url(../img/item01.jpg) no-repeat center center;
	background-size: cover;
}

.itemList_wrap .itemList02 {
	background: url(../img/item02.jpg) no-repeat center center;
	background-size: cover;
}

.itemList_wrap .itemList03 {
	background: url(../img/item03.jpg) no-repeat center center;
	background-size: cover;
}

.itemList_wrap .itemList04 {
	background: url(../img/item04.jpg) no-repeat center center;
	background-size: cover;
}

.itemList_wrap .itemList05 {
	background: url(../img/item05.jpg) no-repeat center center;
	background-size: cover;
}

.itemList_wrap .itemList06 {
	background: url(../img/item06.jpg) no-repeat center center;
	background-size: cover;
}

.itemList_wrap .itemList07 {
	background: url(../img/item07.jpg) no-repeat center center;
	background-size: cover;
}

.itemList_wrap .itemList08 {
	background: url(../img/item08.jpg) no-repeat center center;
	background-size: cover;
}

.itemList_wrap .itemList09 {
	background: url(../img/item09.jpg) no-repeat center center;
	background-size: cover;
}

.itemList_wrap li .item_cover {
	position: absolute;
	top:0; left: 0; right: 0; bottom: 0;
    transition: all 0.4s;
	background-color: rgba(0,0,0,0.3);
}

.itemList_wrap li:nth-child(3n-2) {
	margin-left: 0;
}

.itemList_wrap li .line {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid #fff;
    border-width: 1px 1px 0;
    transition: all 0.45s ease-in-out;
    
}

.itemList_wrap li .line .txt_box {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    opacity: 0;
    font-size: 14px;
    line-height: 1.8;
}

.itemList_wrap li .line .txt_box .moreBtn{
	background-color: transparent;
	border: 1px solid #fff;
    padding: 5px 15px;
    color: #fff;
}

.itemList_wrap li .line .txt_box a {
	border: 1px solid #fff;
	padding: 5px 15px;
	color: #fff;
}

.itemList_wrap li .line .txt_box p {
	font-size: 24px;
	color: #fff;
	margin-bottom: 15px;
}

.itemList_wrap li .line .heading {
    overflow: hidden;
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.itemList_wrap li .line .heading h4 {
	display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    font-size: 22px;
}

.itemList_wrap li .line .heading h4:before {
    position: absolute;
    display: block;
    width: 500%;
    height: 1px;
    content: '';
    background: #fff;
    top: 50%;
    left: -500%;
}

.itemList_wrap li .line .heading h4:after {
    position: absolute;
    display: block;
    width: 500%;
    height: 1px;
    content: '';
    background: #fff;
    top: 50%;
    right: -500%;
}

.itemList_wrap li:hover .line {
	top: 10%;
	bottom: 10%;
}

.itemList_wrap li:hover .line .txt_box {
	opacity: 1;
    transition-delay: 0.35s;
}

.itemList_wrap li:hover .item_cover {
	background-color: rgba(7, 173, 125, 0.8);
}

/**********************검색창*********************/

.search_wrap {
	width: 420px;
	margin: 40px auto;
}

.search_wrap:after {
	content: "";
	clear: both;
	display: block;
}

.search_wrap .current_btn {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #41d5aa;
    background: #fff url(../img/sprite-icon.png?v=a052d8c…) no-repeat -211px -65px;
    background-size: 868px;
}

.search_wrap .input_wrap {
	width: 370px;
	height: 40px;
	float: right;
}

.search_wrap .input_wrap .input_box {
	width: 100%;
	height: 100%;
    border-radius: 4px;
    background: #41d5aa;
}

.search_wrap .input_wrap .input_box input {
	width: calc( 100% - 60px);
	height: 100%;
    padding: 6px 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search_wrap .input_wrap .input_box .search_btn {
	float: right;
	width: 60px;
	height: 100%;
	text-align: center;
    border-radius: 4px;
    color: #fff;
	background: #41d5aa;
}

/**********************main*********************/

#main.page_shadow {
	padding: 0 0 60px;
}

#main .main_visual {
	width: 100%;
	height: 100vh;
}

#main .main_visual .slide01 {
	background: url(../img/main_slide01.jpg) no-repeat center center;
	background-size: cover;
}

#main .main_visual .slide02 {
	background: url(../img/main_slide02.jpg) no-repeat center center;
	background-size: cover;
}

#main .main_visual .slide03 {
	background: url(../img/main_slide03.jpg) no-repeat center center;
	background-size: cover;
}

#main .main_visual .swiper-slide .text_box {
    width: 450px;
    background: rgba(255,255,255,0.7);
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 100px;
}

#main .main_visual .slider_arrow {
	background: url(../img/mainSlide_arrow.png) no-repeat center center;
	transition: all 0.4s;
}

#main .main_visual .slider_next {
	right: 150px;
}

#main .main_visual .slider_prev {
	left: 150px;
	transform: rotate(180deg);
}

#main .main_visual .slider_arrow:hover {
	transform: scale(1.1);
}

#main .main_visual .slider_prev:hover {
	transform: scale(1.1) rotate(180deg);
}

#main .main_visual .swiper-pagination {
	bottom: 40px;
}

#main .main_visual .swiper-pagination .swiper-pagination-bullet {
    width: 115px;
    height: 3px;
    margin: 0 8px;
    background: #b1b1b1;
    opacity: 0.7;
}

#main .main_visual .swiper-pagination .swiper-pagination-bullet-active {
	background: #41d5aa;
}

#main .section01 {
    height: 565px;
    background: url(../img/main_section01_bg.jpg) no-repeat center center;
    background-size: 585px;
    background-color: #fefefe;
}

#main .section01 .txt_box {
	position: absolute;
	top: 50%; left: 50%;
    width: 358px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.92);
    transform: translate3d(-50%,-50%,0);
    text-align: center;
}

#main .section01 .txt_box .en {
    margin-top: 75px;
	color: #289072;
    font-size: 26px;
    font-weight: bold;
    line-height: 35px;
}

#main .section01 .txt_box .ko {
	color: #467b6c;
	margin-top: 25px;
	line-height: 24px;
}

#main .section01 .txt_box .ko span {
	font-size: 20px;
}

#main .section01 .txt_box .momogo {
    font-size: 35px;
    margin-top: 20px;
    color: #106f54;
    font-weight: 600;
    letter-spacing: 7px;
    margin-left: 14px;
}

#main .section02 {
	height: 300px;
	padding: 50px 0;
	background: url(../img/section02_bg.jpg) no-repeat center center;
	background-attachment: fixed;
	background-position: center top;
	text-align: center;
	z-index: 2;
}

#main .section02 .text_wrap {
	display: inline-block;
	color: #fff;
}

#main .section02 .text_wrap .tit {
	font-size: 36px;
    font-family: 'Pacifico', cursive;
}

#main .section02 .text_wrap .sort {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 1px;
}

#main .section02 .text_wrap .info {
    margin: 20px 0 50px;
    font-size: 24px;
    font-weight: 600;
}

#main .section02 .text_wrap .basic_btn {
	display: block;
}

#main #section03 {
	padding-top: 115px;
	margin-top: -115px;
}

/**********************myPage_page*********************/

.myPage_page{
   width: 100%;
   background-color: #f5f6f8;
}

.myPage_page .page_inner {
   width: 1036px;
   margin: 0 auto;
}

.myPage_page .item_wrap {
	padding-bottom: 50px;
}

.myPage_page .item_wrap:after {
   content: '';
   clear: both;
   display: block;
}

.myPage_page .item_wrap .left {
	float: left;
}

.myPage_page .item_wrap .right {
	float: right;
}

.myPage_page .item_wrap .item {
   width: 450px;
   height: 230px;
   margin: 16px 0 0;
   padding: 32px 29px 0;
   background-color: #fff;
   border: 1px solid #dadada;
   border-radius: 2px;
}

.myPage_page .item_wrap .item .item_header {
   position: relative;
}

.myPage_page .item_wrap .item .item_header h4 {
   font-size: 20px;
   font-weight: 600;
   color: #333;
}

.myPage_page .item_wrap .item .item_header button {
   position: absolute;
   top: 0;
   right: 0;
   outline: none;
   overflow: hidden;
   width: 18px;
   height: 18px;
   background: url(../img/arrow_type01_off.png) center center
      no-repeat;
   transition: all 0.4s;
}

.myPage_page .item_wrap .item .item_header button:hover {
   background: url(../img/arrow_type01_hover.png) center center
      no-repeat;
}

.myPage_page .item_wrap .item .item_header button.on {
   background: url(../img/arrow_type01_on.png) center center
      no-repeat;
   transform: rotate(180deg);
}

.myPage_page .item_wrap .item .contxt {
   visibility: hidden;
   opacity: 0;
   margin-top: 12px;
   transition: all 0.4s;
   font-size: 12px;
   color: #9b9b9b;
   line-height: 18px;
}

.myPage_page .item_wrap .item .contxt span {
   color: #ff6122;
}

.myPage_page .item_wrap .item .contxt.on {
   visibility: visible;
   opacity: 1;
}

.myPage_page .item_wrap .item .item_content {
   position: static;
   margin-top: 15px;
   display: none;
}

.myPage_page .item_wrap .item .basic_content.on {
   display: block;
}

.myPage_page .item_wrap .item .item_content:after {
   content: '';
   display: block;
   clear: both;
}

.myPage_page .item_wrap .item .item_content .pic {
   width: 80px;
   overflow: hidden;
   float: left;
   border-radius: 100%;
}

.myPage_page .item_wrap .item .info_wrap {
   position: static;
   margin-left: 15%;
   float: left;
}

.myPage_page .item_wrap .item .info_wrap .info {
   margin-bottom: 5px;
}

.myPage_page .item_wrap .item .info_wrap .info:after {
   content: '';
   clear: both;
   display: block;
}

.myPage_page .item_wrap .item .info_wrap .tit {
   width: 80px;
   float: left;
   font-size: 15px;
   font-weight: 700;
   color: #333;
   line-height: 23px;
}

.myPage_page .item_wrap .item .info_wrap .txt {
   float: left;
   margin-left: 7px;
   font-size: 15px;
   color: #666;
}

.myPage_page .item .modify_content input {
   border: 1px solid #dadada;
   background-color: #fff;
   box-sizing: border-box;
   padding: 2px 7px;
   font-size: 15px;
}

.myPage_page .item_wrap .item .modify_btn {
   position: absolute;
   bottom: 15px;
   left: 29px;
   width: 78px;
   height: 33px;
   padding: 0;
   line-height: 33px;
   font-size: 12px;
   outline: none;
}

.myPage_page .item_wrap .m2_item .info_wrap {
   margin-left: 0;
}

.myPage_page .item_wrap .modify_content {
   display: none;
}

.myPage_page .item_wrap .modify_content::after {
   content: '';
   display: block;
   clear: both;
}

.myPage_page .item_wrap .modify_content.on {
   display: block;
}

.myPage_page .item_wrap .modify_content .btn_wrap {
   position: absolute;
   bottom: 15px;
   left: 29px;
}

.myPage_page .item_wrap .modify_content .btn_wrap button {
   width: 78px;
   height: 33px;
   padding: 0;
   line-height: 33px;
   font-size: 12px;
   outline: none;
}

.myPage_page .item_wrap .order_item {
	height: 790px;
	overflow-y : auto;
}

.myPage_page .item_wrap .order_item .item_content {
	position: relative;
	display: block;
	padding-bottom: 12px;
	border-bottom: 1px solid #004000;
}

.myPage_page .item_wrap .order_item .item_content:last-child {
	border-bottom: none;
}

.myPage_page .item_wrap .order_item .content_header {
	border-bottom: 1px solid #dadada;
	font-size: 16px;
	padding: 5px 10px;
}

.myPage_page .item_wrap .order_item .content_header:after {
	content: "";
	display: block;
	clear: both;
}

.myPage_page .item_wrap .order_item .content_header .date {
	float: left;
	font-weight: bold;
}

.myPage_page .item_wrap .order_item .content_header .status {
	float: right;
	font-weight: bold;
	color: #333;
}

.myPage_page .item_wrap .order_item .content {
	padding: 5px 10px;
}

.myPage_page .item_wrap .order_item .content:after {
	content: "";
	display: block;
	clear: both;
}

.myPage_page .item_wrap .order_item .content .img {
	width: 85px;
	height: 85px;
	float: left;
	margin-top: 5px;
}

.myPage_page .item_wrap .order_item .content .order_info {
	width: calc( 100% - 93px );
	float: left;
	margin-left: 8px;
}

.myPage_page .item_wrap .order_item .content .order_info .store_name {
	font-size: 16px;
	color: #333;
	font-weight: bold;
}

.myPage_page .item_wrap .order_item .content .order_info .food_name {
    margin: 5px 0 0 10px;
    word-break: keep-all;
    line-height: 24px;
}


.myPage_page .item_wrap .store_item {
	height: 790px;
    width: 508px;
    padding: 32px 0 0 0;
    margin: 16px 0 0 0;
}

.myPage_page .item_wrap .store_item .item_inner {
	width: 450px;
	margin: 0 auto;
}

.myPage_page .item_wrap .store_item .input_content {
	position: relative;
	padding: 30px 0;
	border-bottom: 1px solid #ddd;
}

.myPage_page .item_wrap .store_item .input_content:after {
	content: "";
	clear: both;
	display: block;
}

.myPage_page .item_wrap .store_item .input_content .logo {
    width: 110px;
    height: 110px;
    border: 1px solid #ddd;
    float: left;
    background: url(../img/empty_store_logo.png) no-repeat center center;
    background-size: 95px;
}

.myPage_page .item_wrap .store_item .input_content .logoInput_wrap {
    width: calc( 100% - 120px);
    float: left;
    margin-left: 8px;
}

.myPage_page .item_wrap .store_item .input_content .filebox {
	width: 100%;
	margin-bottom: 7px;
}

.myPage_page .item_wrap .store_item .input_content .filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.myPage_page .item_wrap .store_item .input_content .filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #fff;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #004000;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.myPage_page .item_wrap .store_item .input_content .filebox .upload-name {
	display: inline-block;
	width: 260px;
	padding: .5em .75em; /* label의 패딩값과 일치 */
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: .25em;
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}

.myPage_page .item_wrap .store_item .input_content .input_box {
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 7px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.myPage_page .item_wrap .store_item .input_content .input_txt {
    font-size: 14px;
    color: #999;
}

.myPage_page .item_wrap .store_item .input_content .input_txt:last-child {
	margin-bottom: 0;
}

.myPage_page .item_wrap .store_item .input_content select {
	width: 100%;
    padding: 6px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.myPage_page .item_wrap .store_item .input_content .sel_arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 36px;
    right: 8px;
    background: url(../img/sprite-icon.png) no-repeat -188px -55px;
    background-size: 439px;
    transition: all 0.4s;
}

.myPage_page .item_wrap .store_item .input_content .sel_arrow.on {
    transform: rotate(180deg);
}

.myPage_page .item_wrap .store_item .food_info .food {
    width: 110px;
    height: 110px;
    border: 1px solid #ddd;
    float: left;
    background: url(../img/empty_store_logo.png) no-repeat center center;
    background-size: 95px;
}

.myPage_page .item_wrap .store_item .food_info .foodInput_wrap {
    width: calc( 100% - 120px);
    float: left;
    margin-left: 8px;
}

.myPage_page .item_wrap .store_item .food_input_wrap:after {
	content: "";
	display: block;
	clear: both;
}

.myPage_page .item_wrap .store_item .foodInput_wrap .filebox {
	width: 100%;
	margin-bottom: 7px;
}

.myPage_page .item_wrap .store_item .foodInput_wrap .filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.myPage_page .item_wrap .store_item .foodInput_wrap .filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #fff;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #004000;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.myPage_page .item_wrap .store_item .foodInput_wrap .filebox .upload-name {
	display: inline-block;
	width: 260px;
	padding: .5em .75em; /* label의 패딩값과 일치 */
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: .25em;
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}

.myPage_page .item_wrap .store_item .foodInput_wrap .input_box input {
	width: 100%;
	height: 100%;
	border: none;
}

.myPage_page .item_wrap .store_item .food_info .food_add_btn {
	display: block;
	width: 40px;
    height: 40px;
    margin: 15px auto 0;
    background: url(../img/close_btn.png) no-repeat center center;
    background-size: cover;
    outline: none;
    transform: rotate(45deg);
}

.myPage_page .input_container .food_btn {
    height: 50px;
    padding: 10px 0;
    font-size: 17px;
    letter-spacing: 2px;
    margin: 15px 0 0;
    cursor: pointer;
}


/**********************noticeForm_page*********************/

.noticeForm_page .page_inner {
	width: 1050px;
	margin: 0 auto;
}

/**********************noticeView_page*********************/

.noticeView_page .page_inner {
	width: 1050px;
	margin: 0 auto;
}


/**********************noticeView_page*********************/

.noticeList_page .page_inner {
	width: 1050px;
	margin: 0 auto;
}

/**********************storeList_page*********************/

#storeList_page .page_inner {
	width: 1200px;
	margin: 50px auto;
}

/**********************dedailStore*********************/

.detailStore_page {
	backgound-color: #fafafa;
}

.detailStore_page .page_inner {
	width: 1000px;
	margin: 70px auto;
}

.detailStore_page .page_inner:after {
	content: "";
	clear: both;
	display: block;
}

.detailStore_page .detail_container {
	width: 660px;
	float: left;
	margin : 0 0 200px 0;
}

.detailStore_page .detail_container .storeInfo_box {
	background-color: #fff;
	border: 1px solid #d9d9d9;
}

.detailStore_page .detail_container .info_header {
	color: #333;
	font-size: 15px;
	padding: 10px;
}

.detailStore_page .detail_container .info_contents {
	border-top: 1px solid #d9d9d9;
	padding: 10px;
}

.detailStore_page .detail_container .info_contents .store_logo {
	width: 80px;
	height: 80px;
	float: left;
    border: 1px solid #d9d9d9;
}

.detailStore_page .detail_container .info_contents:after {
	content: "";
	clear: both;
	display: block;
}

.detailStore_page .detail_container .info_contents .txt_wrap {
	float: left;
	margin-left: 10px;
}
/* 
.detailStore_page .info_contents .txt_wrap .star_wrap {
	font-size: 0;
}

.detailStore_page .info_contents .txt_wrap .star_wrap span {
	color: #e0e0e0;
	font-size: 13px;
}

.detailStore_page .info_contents .txt_wrap .star_wrap span.on {
	color: #ffa400;
}

.detailStore_page .info_contents .txt_wrap .star_wrap .txt {
	color: #333;
	font-size: 14px;
	margin-left: 5px;
}
 */
.detailStore_page .info_contents .txt_wrap p {
	color: #999;
}

.detailStore_page .info_contents .txt_wrap p span {
	color: #333;
	margin-left: 5px;
}

.detailStore_page .info_contents .txt_wrap > * {
	margin-bottom: 2px;
}

.detailStore_page .tabMenu_wrap {
	margin-top: 12px;
	border: 1px solid #d9d9d9;
}

.detailStore_page .tabMenu_wrap .tab_header {
	border-bottom: 1px solid #d9d9d9;
}

.detailStore_page .tabMenu_wrap .tab_header:after {
	content: "";
	display: block;
	clear: both;
}

.detailStore_page .tabMenu_wrap .tab_header li {
	position: relative;
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 12px 0;
	cursor: pointer;
}

.detailStore_page .tabMenu_wrap .tab_header li:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0; right: 0;
	background-color: #d9d9d9;
}

.detailStore_page .tabMenu_wrap .tab_header .tab3:after {
	display: none;
}

.detailStore_page .tabMenu_wrap .tab_header .active {	
	color: #dc1400;
}

.detailStore_page .tabMenu_wrap .tab_header .active:before {
	content: "";
	position: absolute;
	left:0; bottom: 0;
	width: 100%;
	height: 3px;
	background-color: #DC1400;
}

.detailStore_page .tabMenu_wrap .tab_container {
	box-sizing: border-box;
}

.detailStore_page .swiper-container {
	padding: 10px 0;
}

.detailStore_page .tab_container .swiper-slide {
	width: 170px;
	height: 200px;
	border: 1px solid #d9d9d9;
}

.detailStore_page .tab_content {
	display: none;
}

.detailStore_page .tab_content.on {
	display: block;
}

.detailStore_page .tab_container .slide01 {
	background: url(../img/item01.jpg) no-repeat center center;
	background-size: cover;
}

.detailStore_page .tab_container .slide02 {
	background: url(../img/item02.jpg) no-repeat center center;
	background-size: cover;
}

.detailStore_page .tab_container .slide03 {
	background: url(../img/item03.jpg) no-repeat center center;
	background-size: cover;
}

.detailStore_page .tab_container .slide04 {
	background: url(../img/item01.jpg) no-repeat center center;
	background-size: cover;
}

.detailStore_page .tab_container .slide05 {
	background: url(../img/item02.jpg) no-repeat center center;
	background-size: cover;
}

.detailStore_page .tab_container .swiper-slide .txt_box {
	position: absolute;
	width: 100%;
	background-color: #fff;
	bottom: 0;
	padding: 8px 0;
}

.detailStore_page .tab_container .swiper-slide p {
	text-align: center;
	
}

.detailStore_page .tab_container .swiper-slide .food_name {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.detailStore_page .tabMenu_wrap .menu_category .category {
	position: relative;
	width: 100%;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}


.detailStore_page .tabMenu_wrap .menu_category .category .menu_tit {
	width: 100%;
	height: 48px;
	line-height: 48px;
	background-color: #e6e6e6;
	font-size: 17px;
	text-indent: 45px;
}

.detailStore_page .tabMenu_wrap .menu_category .category .arrow_bg {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    right: 14px;
    background: url(../img/sprite-icon.png) no-repeat;
    background-position: -157px -47px;
    background-size: 367px;
    transition: all 0.4s;
}

.detailStore_page .tabMenu_wrap .menu_category .category .arrow_bg.on {
	transform:rotate(180deg);
}

.detailStore_page .tabMenu_wrap .category .depth_wrap {
	height: 0;
	display: none;
	transition: all 0.4s;
}

.detailStore_page .tabMenu_wrap .category .depth_wrap.on {
	height: auto;
	display: block;
}

.detailStore_page .tabMenu_wrap .category .depth_wrap li {
    padding: 15px 10px 15px 10px;
    border-bottom: 1px solid #ddd;
}

.detailStore_page .tabMenu_wrap .category .popular {
	background: url(../img/ico_favmenu.png) no-repeat 12px center #e6e6e6;
    background-size: 22px;
    text-indent: 40px;
}

.detailStore_page .tabMenu_wrap .category .txt_wrap {
	display: inline-block;
	width: calc( 100% - 122px );
	vertical-align: middle;
	word-break: keep-all;
}

.detailStore_page .tabMenu_wrap .category .food_name {
	font-size: 15px;
	font-weight: bold;
	color: #333;
	margin-bottom: 3px;
}

.detailStore_page .tabMenu_wrap .category .txt_wrap .detail {
	color: #888;
}

.detailStore_page .tabMenu_wrap .category .txt_wrap .price {
	margin-top: 5px;
}

.detailStore_page .tabMenu_wrap .category .depth_wrap .img {
	display: inline-block;
    width: 112px;
    height: 80px;
    background: url(../img/item01.jpg) no-repeat center center;
	background-size: cover;
	vertical-align: middle;
}

.detailStore_page .tab_content .grade_wrap {
	padding: 14px 0 14px;
	text-align: center;
}

.detailStore_page .tab_content .grade_wrap .grade_tit {
    font-size: 28px;
    font-weight: bold;
	color: #222;
}

.detailStore_page .tab_content .grade_wrap .grade {
	font-size: 38px;
    font-weight: bold;
	color: #004000;
}
/* 
.detailStore_page .tab_content .grade_wrap .star_wrap {
	font-size: 0;
}

.detailStore_page .tab_content .grade_wrap .star_wrap span {
	color: #e0e0e0;
	font-size: 18px;
}

.detailStore_page .tab_content .grade_wrap .star_wrap span.on {
	color: #ffa400;
}
 */
 
.detailStore_page .tab_content .reply_textarea {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
 
.detailStore_page .tab_content .reply_textarea textarea {
	width: 100%;
	height: 80px;
	padding: 7px;
	border-left: none;
	border-right: none;
	font-size: 13px;
	box-sizing: border-box;
}

.detailStore_page .tab_content .reply_textarea .submit_btn {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	padding: 0;
	border: none;
	font-size: 18px;
	cursor: pointer;
	box-sizing: border-box;
}

.detailStore_page .tab_content .reply_textarea .submit_btn:hover {
	border: 1px solid #004000;
}
 
.detailStore_page .tab_content .reply_contents_wrap {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	font-size: 15px;
}

.detailStore_page .tab_content .reply_contents_wrap:last-child {
	border-bottom: none;
}

.detailStore_page .tab_content .reply_content p {
	margin-bottom: 7px;
}
 
.detailStore_page .tab_content .reply_content .id {
	font-size: 18px;
	font-weight: bold;
	color: #333;
} 
 
.detailStore_page .tab_content .reply_content .id span {
	font-size: 14px;
	font-weight: normal;
	color: #777;
	vertical-align: bottom;
	margin-left: 3px;
}

.detailStore_page .tab_content .reply_content .grade {
	color: #333;
}
 
.detailStore_page .tab_content .reply_content .grade span {
	color: #004000;
	font-weight: bold;
}
 
.detailStore_page .tab_content .reply_content .menu {
	font-size : 14px;
	color: #a57b4b;
}
 
.detailStore_page .tab_content .reply_content .content {
	margin: 20px 0;
}
 
.detailStore_page .tab_content .reply_contents_wrap .reply_box {
	width: 100%;
    background: #f0f0f0;
    padding: 16px 16px 10px 16px;
    box-sizing: border-box;
}

.detailStore_page .tab_content .reply_box .id {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    padding-left: 21px;
    background: url(../img/reply_arrow.png) no-repeat left center;
    background-size: 14px;
    margin-bottom: 12px;
}
 
.detailStore_page .tab_content .reply_box .id span {
	font-size : 13px;
	color: #777;
	vertical-align: bottom;
}

.detailStore_page .tab_content .reply_btn_wrap {
	text-align: right;
}

.detailStore_page .tab_content .reply_btn_wrap button {
	font-size: 12px;
	background: transparent;
	margin: 0 5px;
	outline: none;
}
.detailStore_page .tab_content .reply_btn_wrap button:hover {
	color: #297d29;
}

.detailStore_page .tab_content .reply_contents_wrap .reply_textarea {
	display: none;
}

.detailStore_page .tab_content .reply_contents_wrap .reply_textarea.on {
	display: block;
}
 
.detailStore_page .tab_content .store_info_wrap {
    padding: 30px 16px 0 16px;
}

.detailStore_page .tab_content .store_info {
	margin-bottom: 50px;
}

.detailStore_page .tab_content .store_info .info_header {
    border-bottom: 1px solid #999;
    padding: 0 0 7px 25px;
    margin-bottom: 18px;
}

.detailStore_page .tab_content .store_info .info_header p {
	font-size: 16px;
}

.detailStore_page .tab_content .store_info .store {
    background: url(../img/detailStore_icon01.png) no-repeat left 2px;
    background-size: 20px;
}

.detailStore_page .tab_content .store_info .pay {
    background: url(../img/detailStore_icon02.png) no-repeat left 2px;
    background-size: 20px;
}

.detailStore_page .tab_content .store_info .license {
    background: url(../img/detailStore_icon03.png) no-repeat left 2px;
    background-size: 20px;
}

.detailStore_page .tab_content .store_info .info_content .info:after {
	content: "";
	clear: both;
	display: block;
}

.detailStore_page .tab_content .store_info .info_content .tit {
	width: 100px;
	color: #999;
	float: left;
}

.detailStore_page .tab_content .store_info .info_content .txt {
	float: left;
	margin-left: 10px;
}

.detailStore_page .tab_content .store_info .info_content .info {
	margin-bottom: 10px;
}

.detailStore_page .order_wrap {
	width: 330px;
	float: right;
}

.detailStore_page .order_wrap .order_header {
    background-color: #333;
    padding: 10px 10px 10px 15px;
}

.detailStore_page .order_wrap .order_header:after {
	content: "";
	clear: both;
	display: block;
}

.detailStore_page .order_wrap .order_header p {
	color: #fff;
    font-size: 15px;
    float: left;
}

.detailStore_page .order_wrap .order_header .clear {
    float: right;
    background: url(../img/sprite-icon.png) no-repeat -135px 0;
    background-size: 330px;
    width: 30px;
    height: 30px;
    margin: -5px 0 0 10px;
    outline: none;
}

.detailStore_page .order_wrap .order_contents {
	border: 1px solid #d9d9d9;
}

.detailStore_page .order_wrap .cart_empty {
	padding: 50px 0;
	text-align: center;
}

.detailStore_page .order_wrap .cart .content {
	padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.detailStore_page .order_wrap .cart .price_wrap {
	margin-top: 15px;
}

.detailStore_page .order_wrap .cart .price_wrap:after {
	content: "";
	clear: both;
	display: block;
}

.detailStore_page .order_wrap .cart .price_wrap .delete {
    background: url(../img/sprite-icon.png) no-repeat -228px -32px;
    background-size: 281px;
    width: 22px;
    height: 21px;
    border: none;
    float: left;
}
.order_contents cart p.food_name{
	    font-size: 25px;
    position: relative;
    top: 20px;
    font-weight: bolder;
    left: 15px;
}

.detailStore_page .order_wrap .cart .price_wrap .price {
    float: right;
    position: relative;
    font-size: 20px;
    margin-left: 8px;
    font-weight: bold;
    display: block;
    bottom: 20px;
    right: 10px;
}

.detailStore_page .order_wrap .cart .price_wrap .amount_wrap {
	float: right;
}

.detailStore_page .order_wrap .cart .price_wrap .amount_wrap > * {
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px;
}

.detailStore_page .order_wrap .cart .price_wrap .amount_wrap .box {
	border: 1px solid #dc1400;
	width: 22px;
	height: 21px;
	background-color: #fff;
	color: #dc1400;
	text-align: center;
	outline: none;
}

.detailStore_page .order_wrap .cart .price_wrap .amount_wrap .num {
	font-size: 14px;
}

.detailStore_page .cart .sum_box {
	padding: 20px 0;
    background-color: #fff8eb;
} 

.detailStore_page .cart .sum_box p {
    color: #DC1400;
    font-size: 18px;
    text-align: right;
    margin-right: 15px;
}

.detailStore_page .order_wrap .order_btn {
	height: 52px;
	padding: 9px 0;
	margin-top: 10px;
	font-size: 16px;
	letter-spacing: 1px;
	border: none;
	cursor: pointer;
}

.detailStore_page .order_wrap .order_btn:hover {
	border: 1px solid #004000;
}

.login_page {
	height: calc( 100vh - 238px);
	background-color: #f5f6f7;
}

.login_page .cont-inner {
	width: 370px;
} 

.login_page .user-select {
	margin: 15px 0;
}

.login_page .user-select label {
	vertical-align: middle;
}

.login_page .login-wrap .tit-area {
	margin: 65px 0 45px;
}

.login_page .login-wrap .tit-area .tit {
	display: inline-block;
	padding-bottom: 22px;
	border-bottom: 1px solid #333;
    font-size: 25px;
    font-weight: bold;
}

.login_page .login-wrap .input-group {
    position: relative;
    height: 50px;
    margin-bottom: 15px;
}

.login_page .login-wrap .input-group + .input-group {
    margin-top: -1px;
} 

.login_page .login-wrap .input-group .input {
    width: 100%;
    height: 100%;
}

.login_page .login-wrap .input-group .input::placeholder {
    color: #dbdbdb;
} 

.login_page .login-wrap .login-link {
    color: #3d4656;
    margin: 15px 0;
}

.login_page .login-wrap .login-link .btn-find {
	margin-bottom: 8px;
}

.login_page .login-wrap .basic_btn {
	margin-top: 5px;
}

.login_page .login-wrap #kakao-login-btn {
	display: block;
	margin: 5px 0;
}

.login_page .kakao_txt {
	margin: 15px 0;
}

/* 사업자 회원가입   */

.ceoSignup_page {
   min-height: 700px;   
   background-color: #f5f6f7;
}

.ceoSignup_page .basic_btn {
	margin-top: 30px;
}

#signupForm {
	width: 315px;
	margin: 45px auto 20px;
}
#signupForm:after {
	content: '';
	clear: both;
	display: block;
 }
#signupForm h3{
	margin-bottom: 35px;
}

#signupForm .formRow:after {
   content: "";
   clear:both;
   display: block;
}

#signupForm .form-row {
   
   margin: auto; 
   
}
#signupForm span{
	position: relative;
	top:20px;
}
#signupForm .formName{
   margin: 15px 0px; 
   font-size: 18px;
   font-weight: 600;
}

#signupForm .inputValue{
   width: 100%;
   height:34px;
   line-height: 34px;
}
#signupForm .inputAddr {
   width: 240px;
   height:34px;
   line-height: 34px;
   margin-bottom: 9px;
}
 #signupForm .inputAddr1 {
   width: 100%;
   margin: 0 0;
}
 #signupForm .addr_btn {
   height: 34px;
   line-height: 34px;
   position:relative;
   top: -5px;
}
 #signupForm select {
    background: url(/MOMOGO/img/sprite-icon.png) no-repeat;
    background-position: 157px -65px;
    background-size: 555px;
}
 #signupForm .inputValue2 {
	width: 243px;
}
#signupForm .areaBtn {
    width: 66px;
    height: 34px;
}

.joinBtn{
   width: 200px;
   margin: 0 auto;
   text-align: center;
   position: relative;
}
.joinBtn button {
   width: 100%;
    color: #fff;
   background-color: #41d5aa;
    font-size: 18px;
}
 .joinBtn button:hover {
    color: #41d5aa;
   background-color: #fff;
   border: 1px solid #41d5aa;
}


/* 개인 회원가입 */

.personalSignup_page {
	background-color: #f5f6f7;
}

.personalSignup_page.page_shadow {
	padding: 115px 0 53px;
}

.personalSignup_page #signupForm {
   width: 315px;
   margin: 40px auto 0;
}

.personalSignup_page .basic_btn {
   margin-top: 32px;
}


.error {
   margin-top:5px;
   font-size: 13px;
   color: red;
}

/*******************회원가입 타입선택********************/

#choice {
    height: calc( 100vh - 235px );
}

#choice .container{
	width:800px;
	margin : 50px auto;
	height: auto;
}

#choice h1{
	margin: 70px 0 50px 0;
}

#choice .block {
	width: 350px;
	height: 400px;
    padding: 30px;
	background: #d8d8d8;	
    box-sizing: border-box;
}

#choice .block1 {
	float: left;
}
#choice .block2 {	
	float: right;
}

#choice .block .type_wrap {
    height: 100%;
    border: 3px solid #fff;
    text-align: center;
}

#choice strong{
	width:100%;
	display: inline-block;
	padding: 90px 0 135px 0;
	font-size: 30px;
}

#choice .basic_btn {
	padding: 14px;
	box-sizing: border-box;
}

 